
<section ng-controller="MappingController as vm">
  
  <div class="row">
    <div class="col-md-10">
  
      <table class="table table-striped table-bordered">

        <h4>Most recent wormhole routes</h4>
        <tr>
          <td><b>Entrance System</b></td>
          <td><b>Connection 1</b></td>
          <td><b>Notes</b></td>
        </tr>



        <tr ng-repeat="route in vm.routes" ui-sref="updateRoute({routeID: route.$id})">
          <td><a href="_blank">{{route.entrance}}</a></td>
          <td><a href="_blank">{{route.connection1}}</a></td>
          <td><a href="_blank">{{route.notes}}</a></td>
        </tr>

      </table>
      
      
      <h4>Scanned Systems</h4>
      
      <form class="form-inline">
        <div class="form-group">
          
          <input type="text" type="submit" ng-submit="vm.createSystem(system);" class="form-control" ng-model="system.name">
          
        </div>
        
        <button class="btn btn-primary" ng-click="vm.createSystem(system);">Add System</button>
      </form>
      <br>
      <div class="btn-group" role="group">
        
        <button class="btn btn-default" ng-repeat="system in vm.systems">{{system.name}}</button>
        
        
        
      </div>
      
        
        
    </div>
  </div>

</section>